SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/ageitgey_face_recognition_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/ageitgey_face_recognition_requirements.txt-d4497f49-ea8c-4333-9171-0361d36e9d83
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:22:18Z

##### Package: metadata/python/ageitgey_face_recognition_requirements.txt

PackageName: metadata/python/ageitgey_face_recognition_requirements.txt
SPDXID: SPDXRef-Filesystem-caa38f5656ccae70
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-caa38f5656ccae70

