SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/agiliq_merchant_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/agiliq_merchant_requirements.txt-d70e956b-d960-45bb-8e99-beaac2068b5c
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:23Z

##### Package: metadata/python/agiliq_merchant_requirements.txt

PackageName: metadata/python/agiliq_merchant_requirements.txt
SPDXID: SPDXRef-Filesystem-5972b68652bf8771
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-5972b68652bf8771

