SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/ansible_ansible_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/ansible_ansible_requirements.txt-1dfec902-8fdb-4e5c-b999-6d59770d68e6
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:22:17Z

##### Package: metadata/python/ansible_ansible_requirements.txt

PackageName: metadata/python/ansible_ansible_requirements.txt
SPDXID: SPDXRef-Filesystem-e0edccc8bfddd7ac
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-e0edccc8bfddd7ac

