SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/awesto_django-shop_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/awesto_django-shop_requirements.txt-55e07aaf-4c84-4bd6-a1e6-4d3cd680c8b3
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:07Z

##### Package: metadata/python/awesto_django-shop_requirements.txt

PackageName: metadata/python/awesto_django-shop_requirements.txt
SPDXID: SPDXRef-Filesystem-1234f9fd04246e11
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-1234f9fd04246e11

