SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/bpython_bpython_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/bpython_bpython_requirements.txt-83f11d62-0597-456a-9ca6-a8429fd90c82
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:49Z

##### Package: metadata/python/bpython_bpython_requirements.txt

PackageName: metadata/python/bpython_bpython_requirements.txt
SPDXID: SPDXRef-Filesystem-2ff7dd9d1177e4
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-2ff7dd9d1177e4

