SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/codelucas_newspaper_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/codelucas_newspaper_requirements.txt-20f6f13f-ad31-4925-a362-9aedabbbc2be
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:11Z

##### Package: metadata/python/codelucas_newspaper_requirements.txt

PackageName: metadata/python/codelucas_newspaper_requirements.txt
SPDXID: SPDXRef-Filesystem-4e8d3886125b1fa8
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-4e8d3886125b1fa8

