SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/derek73_python-nameparser_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/derek73_python-nameparser_requirements.txt-e5537da9-d338-453c-922a-6df97513e3f6
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:52Z

##### Package: metadata/python/derek73_python-nameparser_requirements.txt

PackageName: metadata/python/derek73_python-nameparser_requirements.txt
SPDXID: SPDXRef-Filesystem-5be3048552641338
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-5be3048552641338

