SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/flask-restful_flask-restful_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/flask-restful_flask-restful_requirements.txt-b38bba3d-c677-4c00-bb32-09f859f3e929
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:52Z

##### Package: metadata/python/flask-restful_flask-restful_requirements.txt

PackageName: metadata/python/flask-restful_flask-restful_requirements.txt
SPDXID: SPDXRef-Filesystem-7126052ca078bcdc
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-7126052ca078bcdc

