SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/grantjenks_python-sortedcontainers_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/grantjenks_python-sortedcontainers_requirements.txt-caba6752-02aa-40c0-90a1-c7a80fc26b1e
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:03Z

##### Package: metadata/python/grantjenks_python-sortedcontainers_requirements.txt

PackageName: metadata/python/grantjenks_python-sortedcontainers_requirements.txt
SPDXID: SPDXRef-Filesystem-cc8b6772a75ecffb
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-cc8b6772a75ecffb

