SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/jazzband_pip-tools_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/jazzband_pip-tools_requirements.txt-13bedf3d-ab04-4eb0-8083-686c6096b8f9
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:14Z

##### Package: metadata/python/jazzband_pip-tools_requirements.txt

PackageName: metadata/python/jazzband_pip-tools_requirements.txt
SPDXID: SPDXRef-Filesystem-73d51ab953e4b0f
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-73d51ab953e4b0f

