SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/jet-admin_jet-bridge_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/jet-admin_jet-bridge_requirements.txt-58490737-f7a9-4a8c-9603-dabe1495ffe5
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:31Z

##### Package: metadata/python/jet-admin_jet-bridge_requirements.txt

PackageName: metadata/python/jet-admin_jet-bridge_requirements.txt
SPDXID: SPDXRef-Filesystem-62c2a734415e137e
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-62c2a734415e137e

