SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/keleshev_schema_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/keleshev_schema_requirements.txt-35df62d4-3178-4ee2-b818-0c64d9165ee7
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:36Z

##### Package: metadata/python/keleshev_schema_requirements.txt

PackageName: metadata/python/keleshev_schema_requirements.txt
SPDXID: SPDXRef-Filesystem-8b142f544a2b22ac
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-8b142f544a2b22ac

