SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/klen_mixer_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/klen_mixer_requirements.txt-7a81643e-4436-430b-b962-b91d503c3dae
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:28Z

##### Package: metadata/python/klen_mixer_requirements.txt

PackageName: metadata/python/klen_mixer_requirements.txt
SPDXID: SPDXRef-Filesystem-61c10bbd25b8ea1f
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-61c10bbd25b8ea1f

