SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/lancopku_pkuseg-python_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/lancopku_pkuseg-python_requirements.txt-36f149e2-f9ee-4564-9252-c6a782095825
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:19Z

##### Package: metadata/python/lancopku_pkuseg-python_requirements.txt

PackageName: metadata/python/lancopku_pkuseg-python_requirements.txt
SPDXID: SPDXRef-Filesystem-fe5c27e1e3245983
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-fe5c27e1e3245983

