SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/libAudioFlux_audioFlux_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/libAudioFlux_audioFlux_requirements.txt-cb8a7687-7fc4-48ac-a459-39b10d6e48e2
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:13Z

##### Package: metadata/python/libAudioFlux_audioFlux_requirements.txt

PackageName: metadata/python/libAudioFlux_audioFlux_requirements.txt
SPDXID: SPDXRef-Filesystem-cb64c06785eb103f
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-cb64c06785eb103f

