SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/locustio_locust_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/locustio_locust_requirements.txt-b6c90095-99de-4a11-8980-69488233c852
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:02Z

##### Package: metadata/python/locustio_locust_requirements.txt

PackageName: metadata/python/locustio_locust_requirements.txt
SPDXID: SPDXRef-Filesystem-858d761b0b7d5e5a
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-858d761b0b7d5e5a

