SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/lyst_lightfm_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/lyst_lightfm_requirements.txt-334732b4-e7e6-4d81-9814-8b8e485c9ac8
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:22:07Z

##### Package: metadata/python/lyst_lightfm_requirements.txt

PackageName: metadata/python/lyst_lightfm_requirements.txt
SPDXID: SPDXRef-Filesystem-9f2f89eb6b2a225f
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-9f2f89eb6b2a225f

