SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/modoboa_modoboa_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/modoboa_modoboa_requirements.txt-f1bbb6b9-e50b-44c4-9fba-fa2735caa5fa
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:06Z

##### Package: metadata/python/modoboa_modoboa_requirements.txt

PackageName: metadata/python/modoboa_modoboa_requirements.txt
SPDXID: SPDXRef-Filesystem-ff812faacec30ef4
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-ff812faacec30ef4

