SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/nvbn_thefuck_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/nvbn_thefuck_requirements.txt-d5e2ed23-f400-4762-9ac0-12643cb66e02
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:19:57Z

##### Package: metadata/python/nvbn_thefuck_requirements.txt

PackageName: metadata/python/nvbn_thefuck_requirements.txt
SPDXID: SPDXRef-Filesystem-813f62766790d1b0
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-813f62766790d1b0

