SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/pricingassistant_mrq_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/pricingassistant_mrq_requirements.txt-671fb819-5cca-457d-a551-23afeb7556c8
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T06:38:57Z

##### Package: metadata/python/pricingassistant_mrq_requirements.txt

PackageName: metadata/python/pricingassistant_mrq_requirements.txt
SPDXID: SPDXRef-Filesystem-59dcec5020c3d50c
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-59dcec5020c3d50c

