SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/pyinstaller_pyinstaller_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/pyinstaller_pyinstaller_requirements.txt-0f52d3ea-27ab-4ccd-ae60-26f03db33e14
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:21:30Z

##### Package: metadata/python/pyinstaller_pyinstaller_requirements.txt

PackageName: metadata/python/pyinstaller_pyinstaller_requirements.txt
SPDXID: SPDXRef-Filesystem-cd5951a8618b2ba8
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-cd5951a8618b2ba8

