SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/python-greenlet_greenlet_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/python-greenlet_greenlet_requirements.txt-84990c61-161a-44f1-b524-4b92c56672bc
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:16Z

##### Package: metadata/python/python-greenlet_greenlet_requirements.txt

PackageName: metadata/python/python-greenlet_greenlet_requirements.txt
SPDXID: SPDXRef-Filesystem-2d69c452ba9d9773
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-2d69c452ba9d9773

