SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/pythonnet_pythonnet_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/pythonnet_pythonnet_requirements.txt-4df0e621-3fdf-4c1d-a4fd-3db7f64b4076
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:32Z

##### Package: metadata/python/pythonnet_pythonnet_requirements.txt

PackageName: metadata/python/pythonnet_pythonnet_requirements.txt
SPDXID: SPDXRef-Filesystem-43067dc0d41bd278
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-43067dc0d41bd278

