SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/robotframework_robotframework_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/robotframework_robotframework_requirements.txt-cd090d0f-9ce4-4773-b881-a6f3cd9f6624
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:33Z

##### Package: metadata/python/robotframework_robotframework_requirements.txt

PackageName: metadata/python/robotframework_robotframework_requirements.txt
SPDXID: SPDXRef-Filesystem-52d74a654278c72e
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-52d74a654278c72e

