SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/sirfz_tesserocr_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/sirfz_tesserocr_requirements.txt-95230254-3231-47d5-a11d-53ba43b27ae0
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:22Z

##### Package: metadata/python/sirfz_tesserocr_requirements.txt

PackageName: metadata/python/sirfz_tesserocr_requirements.txt
SPDXID: SPDXRef-Filesystem-a345a46bc38181f8
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-a345a46bc38181f8

