SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/sshwsfc_xadmin_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/sshwsfc_xadmin_requirements.txt-32712d64-9c7a-4c6b-a7e0-334a09443a03
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:21Z

##### Package: metadata/python/sshwsfc_xadmin_requirements.txt

PackageName: metadata/python/sshwsfc_xadmin_requirements.txt
SPDXID: SPDXRef-Filesystem-4c0580a52bbb3e04
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-4c0580a52bbb3e04

