SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/Suor_funcy_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/Suor_funcy_requirements.txt-e6913c8c-8928-4092-b5a1-cccb9bbb4d0f
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:20:44Z

##### Package: metadata/python/Suor_funcy_requirements.txt

PackageName: metadata/python/Suor_funcy_requirements.txt
SPDXID: SPDXRef-Filesystem-cb5603dbbb787c8
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-cb5603dbbb787c8

