SPDXVersion: SPDX-2.3
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: metadata/python/thumbor_thumbor_requirements.txt
DocumentNamespace: http://aquasecurity.github.io/trivy/filesystem/metadata/python/thumbor_thumbor_requirements.txt-8417601d-9a28-4313-9ad8-63c156321c27
Creator: Organization: aquasecurity
Creator: Tool: trivy-0.43.0
Created: 2023-07-07T04:22:11Z

##### Package: metadata/python/thumbor_thumbor_requirements.txt

PackageName: metadata/python/thumbor_thumbor_requirements.txt
SPDXID: SPDXRef-Filesystem-7249cbe12ce08818
PackageDownloadLocation: NONE
PrimaryPackagePurpose: SOURCE
FilesAnalyzed: false
PackageAttributionText: SchemaVersion: 2

##### Relationships

Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-Filesystem-7249cbe12ce08818

