-e .

# Packaging
twine
wheel

# Testing
asgi-lifespan
async-generator; python_version<'3.7'
autoflake
black==22.3.0
flake8
flake8-bugbear
flake8-comprehensions
httpx==0.21.*
isort==5.*
mkdocs
mkdocs-material
mypy
pyee>=6,<8
pytest
pytest-asyncio
requests  # Required by the Starlette test client.
seed-isort-config
